## Problem 2:
We have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [12]:
import pandas as pd
from bs4 import BeautifulSoup

In [13]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [14]:
data=requests.get(url).text

In [15]:
soup=BeautifulSoup(data)

### Searching for tables in soup

In [16]:
table=soup.find_all('table')

In [17]:
lis1=[]
for i  in range(0,20):
        for j in range(0,9):
                lis1.append(table[0].find_all('tr')[i].find_all('td')[j].text.strip())

### Condition to filter out 'Not Assigned' Values

In [18]:
lis2=[]
for i in lis1:
    if len(i)>15:
        lis2.append(i)

### Using regex to extract data from the table

In [19]:
PostalCode=[i[0:3] for i in lis2]
PostalCode
Borough=[]
Neighborhood=[]
lis3=[i[3:] for i in lis2]
for i in range(0,len(lis3)):
    Borough.extend(re.findall('.+(?=\()',lis3[i]))
    Neighborhood.extend(re.findall('(?<=\().+(?=\))',lis3[i]))

### Creating required DataFrame

In [20]:
df=pd.DataFrame(columns=['PostalCode','Borough','Neighborhood'])
df['PostalCode']=PostalCode
df['Borough']=Borough
df['Neighborhood']=Neighborhood
df.head()

  PostalCode           Borough                       Neighborhood
0        M3A        North York                          Parkwoods
1        M4A        North York                   Victoria Village
2        M5A  Downtown Toronto         Regent Park / Harbourfront
3        M6A        North York  Lawrence Manor / Lawrence Heights
4        M7A      Queen's Park      Ontario Provincial Government

In [21]:
df.shape

(102, 3)

In [ ]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [22]:
geodata=pd.read_csv(r"C:\Users\CHAD\Desktop\work\Coursera\IBM\Geospatial_Coordinates.csv")

In [23]:
geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [24]:
df=df.rename(columns={'PostalCode':'Postal Code'})

In [25]:
new_Data=df.merge(geodata)

Merged Dataset containing longitude and latitude

In [26]:
new_Data.head(10)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Queen's Park,Ontario Provincial Government,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,Parkview Hill / Woodbine Gardens,43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937